%div.main_chat
  %div.main_chat__group-info
    %div.main_chat__group-info__current-group
      %div.main_chat__group-info__current-group__group-name
        グループ名
      %div.main_chat__group-info__current-group__member-list
        Member : a,b,c
    %div.main_chat__group-info__edit
      %a{href: '#henshu'}
        %div.main_chat__group-info__edit__box
          Edit
  %div.main_chat__message-view
    %div.main_chat__message-view__box
      %div.main_chat__message-view__box__info
        %div.main_chat__message-view__box__info__name-posted
          a
        %div.main_chat__message-view__box__info__post-date
          2020/1/8
      %div.main_chat__message-view__box__message-content
        メッセージ内容 A
    %div.main_chat__message-view__box
      %div.main_chat__message-view__box__info
        %div.main_chat__message-view__box__info__name-posted
          b
        %div.main_chat__message-view__box__info__post-date
          2020/1/9
      %div.main_chat__message-view__box__message-content
        メッセージ内容 B
  %div.main_chat__new-message
    %form.main_chat__new-message__form
      %div.main_chat__new-message__form__box
        %input.main_chat__new-message__form__box__text{type: "text", placeholder: "type a message"}
        %label
          %div.main_chat__new-message__form__box__image
            %i.far.fa-image.fa-lg
          %div.main_chat__new-message__form__box__image--default
            %input{type: "file"}
      %label
        %a{href: '#soushin'}
          %div.main_chat__new-message__form__send
            Send
          %div.main_chat__new-message__form__box__send--default
            %input{type: "submit"}
          