%div.main_chat
  %div.main_chat__group-info
    %div.main_chat__group-info__current-group
      %div.main_chat__group-info__current-group__group-name
        shibuya
      %div.main_chat__group-info__current-group__member-list
        Member : y.k
    %a{href: '#'}
      %div.main_chat__group-info__edit-box
        Edit
  %div.main_chat__message-content
  %div.main_chat__message-form