%div.side_bar
  %div.side_bar__user-info
    %div.side_bar__user-info__box
      %div.side_bar__user-info__box__user-name
        ユーザー名
      %div.side_bar__user-info__box__menu
        = link_to "#atarashiigurupu" do
          %i.fas.fa-edit.fa-sm.side_bar__user-info__box__menu__new
        = link_to "#yuzanosettei" do
          %i.fas.fa-cog.fa-sm.side_bar__user-info__box__menu__setting
  %div.side_bar__groups
    %div.side_bar__groups__group-box
      %div.side_bar__groups__group-box__group-info
        グループ A
      %div.side_bar__groups__group-box__latest-message
        message A
    %div.side_bar__groups__group-box
      %div.side_bar__groups__group-box__group-info
        グループ B
      %div.side_bar__groups__group-box__latest-message
        message B
    %div.side_bar__groups__group-box
      %div.side_bar__groups__group-box__group-info
        グループ C
      %div.side_bar__groups__group-box__latest-message
        message C