%div.side_bar
  %div.side_bar__user-info
    %div.side_bar__user-info__box
      %div.side_bar__user-info__box__user-name
        おすすめ旅行先
      %div.side_bar__user-info__box__menu
        = link_to "#atarashiigurupu" do
          %i.fas.fa-edit.fa-sm.side_bar__user-info__box__menu__new
        = link_to "#yuzanosettei" do
          %i.fas.fa-cog.fa-sm.side_bar__user-info__box__menu__setting
  %div.side_bar__groups
    %div.side_bar__groups__group-box
      %div.side_bar__groups__group-box__group-info
        北海道
      %div.side_bar__groups__group-box__latest-message
        北の大地
    %div.side_bar__groups__group-box
      %div.side_bar__groups__group-box__group-info
        金沢
      %div.side_bar__groups__group-box__latest-message
        世界が認めた都市
    %div.side_bar__groups__group-box
      %div.side_bar__groups__group-box__group-info
        沖縄
      %div.side_bar__groups__group-box__latest-message
        南の国