%div.side_bar
  %div.side_bar__user-info
    %div.side_bar__user-info__box
      %div.side_bar__user-info__box__user-name
        y.k
      %div.side_bar__user-info__box__menu
        = link_to "#" do
          %i.fas.fa-edit.fa-sm.side_bar__user-info__box__menu__new
        = link_to "#" do
          %i.fas.fa-cog.fa-sm.side_bar__user-info__box__menu__setting
  %div.side_bar__groups
    %div.side_bar__groups__group-box
      %div.side_bar__groups__group-box__group-info
        shibuya
      %div.side_bar__groups__group-box__latest-message
        aaaaa
    %div.side_bar__groups__group-box
      %div.side_bar__groups__group-box__group-info
        aa
      %div.side_bar__groups__group-box__latest-message
        まだメッセージがありません
    %div.side_bar__groups__group-box
      %div.side_bar__groups__group-box__group-info
        ss
      %div.side_bar__groups__group-box__latest-message
        まだメッセージがありません
