%div.side_bar
  %div.side_bar__user-info
    %div.side_bar__user-info__box
      %div.side_bar__user-info__box__user-name
        yuhei
      %div.side_bar__user-info__box__menu
        = link_to "#" do
          %i.fas.fa-edit.fa-sm.side_bar__user-info__box__menu_new
        = link_to "#" do
          %i.fas.fa-cog.fa-sm.side_bar__user-info__box__menu_setting
  %div.side_bar__group-list